# Ignore node_modules, it will be installed within the container
node_modules

# Ignore build output, it will be generated within the container
dist

# Ignore environment files, they should be passed in at runtime
.env*
!/.example.env

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore logs and temporary files
npm-debug.log
*.log

# Ignore git files
.git
.gitignore